.noDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
        font-size: 40px;
    }

    h3 {
        margin-top: 16px;
        font-size: 1rem;
        text-transform: uppercase;
        color: var(--primary-text-color);
    }

    p {
        font-size: 1rem;
        margin-top: 8px;
        color: var(--secondary-text-color);
    }
}