* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica;
    box-sizing: border-box;
}

:root {
    --primary-color: #172a38;
    --secondary-color: #4dab8c;
    --white: white;

    --primary-text-color: #343a40;
    --secondary-text-color: #6c757d;

    --red-color: #b52c00;
    --green-color: #238d63;
    --attention-color: #df621c;

    --disable-color: #ccc;
}